.PokemonResultContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #7AA3B8;
    border-radius: 10px;
    padding: 0.5rem;
    border: 1px solid #E7E7E6;
    box-shadow: 5px 10px 2px #464646;
}

.goldencard{
    background-color: #F0DBA5!important;
    border-radius: 10px;
    padding: 0.5rem;
    border: 1px solid #E7E7E6;
    box-shadow: 5px 10px 2px #464646;
}

.PokemonResultContainer:hover{
    transform: scale(1.01);
    box-shadow: 5px 10px 1px #464646;
}

.PokeSearchSearchArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #7AA3B8;
    border-radius: 10px;
    padding: 5px;
}

.PokeSearchInputContainer{
    display: flex;
    width: 30vw;
}

@media (max-width: 768px) {
    .PokeSearchInputContainer {
      width: 80vw;
    }
  }

.searchIcon{
    padding: 7px;
    font-size: 2rem;
}

.searchIcon:hover{
    transform: scale(1.05);
    color:#F0DBA5;
  }

.PokeSearchSearchInput{
    width: 100%;
    border: none;
    background: white;
    padding: 5px;
    margin: 0;
    font-size: 1.5rem;
    color: inherit;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 0.5rem;
}

.PokeSearchSearchInput:focus{
    outline: none;
    border: 1px solid #F0DBA5;
}

.PokeSearchSearchButton:hover {
    background-color: #F0DBA5;
    box-shadow: 0px 15px 20px rgba(240, 219, 165, 0.4);
    color: #fff;
    transform: translateY(-2px);
  }

  .kidoba{
    color: #C04C4B;
    font-weight: bolder;
    font-size: 1.5rem;
  }

  .PokemonResultContainer img{
    width: 20vw; 
  }

  .PokeSearchSearchButtonsContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #7AA3B8;
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
  }

  .icon{
    width: 45%;
    cursor: pointer;
    color: #464646;
    text-align: center;
    font-size: 5rem;
  }

  .icon:hover{
    transform: scale(1.1);
    color:#F0DBA5;
  }

  @media (max-width: 768px) {
    .PokeSearchSearchButtonsContainer {
      flex-direction: column;
    }
  
    .icon {
      width: 80%;
      margin: 5px auto;
    }
  
    .PokeSearchSearchButton {
      width: 80%;
    }

    .PokemonResultContainer{
        width: 90vw;
        justify-content: center;
    }
    .PokemonResultContainer img{
        width: 60vw; 
      }
  }